body {
  background: #E5E5E5;
}

.container-1 {
  display: flex;
  justify-content: center;
}

.container-2 {
  display: flex;
  justify-content: center;
}

.container-2-2 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;

}

/*cell phone keyboard*/
.container-3 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 100px;
}

h1 {
  font-size: 56px;
  text-transform: uppercase;
  margin-top: 60px;

}

h3 {
  text-align: center;
  text-transform: uppercase;
  margin-top: 10px;
}

footer p {
  font-size: 20px;
}

p {
  text-align: center;
  font-size: 30px;
  margin-top: 10px;
  color: #080808;
}

span {
  display: flex;
  justify-content: center;
  border-bottom: 3px solid #070707;
  width: 40px;
  margin: 5px;
  padding-bottom: 10px;
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
}

/*cell phone keyboard*/
button {
  background: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  margin: 5px;
  width: 50px;
  height: 50px;
  color: #080808;
}
/*Botao do perdedor*/
button-lost {
  background: red;
  border: none;
  border-radius: 25px;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  margin: 5px;
  width: 50px;
  height: 50px;
  color: black;
}
/*Botao do vencedor*/
button-won {
  background: green;
  border: none;
  border-radius: 25px;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  margin: 5px;
  width: 50px;
  height: 50px;
  color: #080808;
}

button:hover {
  background-color: #504a4b;
}

button.new-bt {
  width: auto;
  padding: 10px;
  color: aqua;
  background: green;
}

.certain,
.certain:hover {
  background: #3aa394;
  border: 1px solid #3aa394;
  cursor: inherit;
}

.wrong,
.wrong:hover {
  background: #d3ad69;
  border: 1px solid #d3ad69;
  cursor: inherit;
}

/* botao voltar*/
.button-inicio a input {
  display: flex;
  justify-content: center;
  margin: 5px;
  width: 100px;
  padding: 20px 10px;
  background-color: #0A3871;
  color: #FFFFFF;
  border: 1px solid #070707;
  border-radius: 25px;
  font-weight: bold;
  font-size: 1em;
  line-height: 1em;
  cursor: pointer;
  text-transform: uppercase;
}

#new {
  text-align: center;
}

footer {

  bottom: 0;
  position: fixed;
  width: 100%;
  text-align: center;
}

footer p a {
  text-decoration: none;
  color: #504a4b;
}